body {
    font-family: Arial;
    margin: 0 auto;
    width: 600px;
   
}

.answers {
    font-style: italic;
    color: red;
}

#content {
    width: 400px;
    margin: 10px auto;
    text-align: center;
    border: solid black 5px;
    border-radius: 200px;
    padding: 10px 30px;
}