<!DOCTYPE html>
<html>
<head>
    <title>Hi There!</title>
</head>
<body>
    <p>Let's play a game!</p>

    <form action="/madlib">
        <label>Select a person:
            <select name="person">
                <option value="Katie">Katie</option>
                <option value="Meggie">Meggie</option>
                <option value="Kristen">Kristen</option>
                <option value="Heather">Heather</option>
            </select>
        <label>Select a color:
            <select name="color">
                <option value="red">red</option>
                <option value="orange">orange</option>
                <option value="yellow">yellow</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
            </select>
        <label>Enter a noun: <input type="text" name="noun"></label>
        <label>Enter an adjective: <input type="text" name="adjective"></label>
        <label>Choose foods:
            <input type="checkbox" name="foods" value="burger">burger
            <input type="checkbox" name="foods" value="pizza">pizza
            <input type="checkbox" name="foods" value="candy">candy
            <input type="checkbox" name="foods" value="pasta">pasta
            <input type="checkbox" name="foods" value="apple">apple
        </label>
        <input type="submit">
    </form>
</body>
</html>